{% extends "base_desktop.html" %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center ">
    <div class="motto__container p-relative w-100">
        <figure class="w-100">
            <picture class="">
                <source class="" srcset="{{ MEDIA_URL }}main/desktop/zamawiaj-jedz-komentuj-na-tordo.webp" type="image/webp"/>
                <img class="" src="{{ MEDIA_URL }}main/desktop/zamawiaj-jedz-komentuj-na-tordo.jpg" >
            </picture>
        </figure>
        <div class="box_container w-100 flex j-around a-top flex-nowrap p-absolute z-index-top">
            <a href="{% url 'restaurants' %}" class="motto_box z-index-top bg-white p-relative">
                <div class="p-absolute element-center-top">
                    <img src="/media/svg/zamawiaj.svg" alt="zamawiaj" width="78" height="69">
                    <h2 class="p-absolute text-bold element-center">Zamawiaj</h2>
                </div>
            </a>
            <a href="" class="motto_box z-index-top bg-white p-relative">
                <div class="p-absolute element-center-top">
                    <img src="/media/svg/odbieraj.svg" alt="zamawiaj" width="78" height="69">
                    <h2 class="p-absolute text-bold element-center text-red">Odbieraj</h2>
                </div>
            </a>
            <a href="" class="motto_box z-index-top bg-white p-relative">
                <div class="p-absolute element-center-top">
                    <img src="/media/svg/oceniaj.svg" alt="zamawiaj" width="78" height="69">
                    <h2 class="p-absolute text-bold element-center">Oceniaj</h2>
                </div>
            </a>
        </div>
        <div class="red_container w-100 flex j-center a-center bg-red margin-t-30">
            <a href="" class="bg-white button_box flex a-center j-center">
                <span class="text-red text-bold">Zaczynamy</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
