{% extends "base_mobile.html" %}

{% block filters %}
<div id="filters" class="in-layout filters_box bg-white flex j-center a-top wrap">
    <div class="in-layout-content bg-white flex j-center a-top wrap">
        <div class="w-100 text-container flex j-center a-center filters_header h-80">
            <div class="w-90 flex j-left a-center">
                <p class="text-left text-bold margin-r-10">Filtry</p>
                <p id="filters_counter" class="text-left text-bold">(0)</p>
                <span class="text-left clear pointer margin-l-20" onclick="clearFilters(this)">Wyczyść wszystkie</span>
            </div>
            <div class="w-10 flex j-right a-center margin-r-20">
                <p class="text-left text-bold pointer" onclick="closeFilters()">X</p>
            </div>
        </div>
        <div class="w-100 flex wrap a-top j-center border-bottom">
            <div class="h-80 w-100 flex wrap a-center j-center">
                <p class="w-100 text-left text-bold margin-l-20">Sortowanie najbliżej Ciebie</p>
            </div>
            <div class="w-100 flex wrap a-top j-center elements">
            <div class="w-100 text-container flex wrap a-center j-center self-top">
                <label class="container flex w-100 j-center a-center no-wrap">
                    <input name="sorted" value="distance" type="checkbox" class="check circle" checked="checked"  onclick="onlyOne(this, 'check')">
                    <span class="checkmark circle"></span>
                    <span class="w-100 text-left filter_sorted" {% if request.session.sorted == 'alphabetical' %}text-red{% endif %}">Alfabetycznie</span>
                </label>
            </div>
            <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                <label class="container flex w-100 j-center a-center no-wrap ">
                    <input name="sorted" value="open_up" type="checkbox" class="check circle" {% if request.session.sorted == "open_up" %}checked{% endif %} onclick="onlyOne(this, 'check')">
                    <span class="checkmark circle"></span>
                    <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'open_up' %}text-red{% endif %}">Najwcześniej otwarte</span>
                </label>
            </div>
            <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                <label class="container flex w-100 j-center a-center no-wrap ">
                    <input name="sorted" value="open_down" type="checkbox" class="check circle" {% if request.session.sorted == "open_down" %}checked="checked" {% endif %}
                        onclick="onlyOne(this, 'check')">
                    <span class="checkmark circle"></span>
                    <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'open_down' %}text-red{% endif %}">Najdłużej otwarte</span>
                </label>
            </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap ">
                        <input name="sorted" value="promo" type="checkbox" class="check circle" {% if request.session.sorted == "promo" %}checked="checked" {% endif %} onclick="onlyOne(this, 'check')">
                        <span class="checkmark circle"></span>
                        <span
                            class="w-100 text-left filter_sorted {% if request.session.sorted == 'promo' %}text-red{% endif %}">Promocje</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap ">
                        <input name="sorted" value="lunch" type="checkbox" class="check circle" {% if request.session.sorted == "lunch" %}checked="checked" {% endif %} onclick="onlyOne(this, 'check')">
                        <span class="checkmark circle"></span>
                        <span
                            class="w-100 text-left filter_sorted {% if request.session.sorted == 'lunch' %}text-red{% endif %}">Lunch</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap ">
                        <input name="sorted" value="food" type="checkbox" class="check circle" {% if request.session.sorted == "food" %}checked="checked" {% endif %} onclick="onlyOne(this, 'check')">
                        <span class="checkmark circle"></span>
                        <span
                            class="w-100 text-left filter_sorted {% if request.session.sorted == 'food' %}text-red{% endif %}">Jedzenie</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap ">
                        <input name="sorted" value="design" type="checkbox" class="check circle" {% if request.session.sorted == "design" %}checked="checked" {% endif %} onclick="onlyOne(this, 'check')">
                        <span class="checkmark circle"></span>
                        <span
                            class="w-100 text-left filter_sorted {% if request.session.sorted == 'design' %}text-red{% endif %}">Wystrój</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap ">
                        <input name="sorted" value="service" type="checkbox" class="check circle" {% if request.session.sorted == "service" %}checked="checked" {% endif %} onclick="onlyOne(this, 'check')">
                        <span class="checkmark circle"></span>
                        <span
                            class="w-100 text-left filter_sorted {% if request.session.sorted == 'service' %}text-red{% endif %}">Obsługa</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="w-100 flex wrap a-top j-center border-bottom">
            <div class="h-80 w-100 flex wrap a-center j-left">
                <p class="w-100 text-left text-bold margin-l-20">Potrawy</p>
            </div>
            <div class="w-100 flex wrap a-center j-center elements">
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Burgery" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Burgery' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Burgery' %}text-red{% endif %}">Burgery</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Pizza" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Pizza' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Pizza' %}text-red{% endif %}">Pizza</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Sushi" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Sushi' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Sushi' %}text-red{% endif %}">Sushi</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Owoce morza" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Owoce morza' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Owoce morza' %}text-red{% endif %}">Owoce
                            morza</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Słodkości" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Słodkości' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Słodkości' %}text-red{% endif %}">Słodkości</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Vege" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Vege' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Vege' %}text-red{% endif %}">Vege</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Gluten free" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Gluten free' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Gluten free' %}text-red{% endif %}">Gluten
                            free</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="w-100 flex j-left a-top wrap border-bottom">
            <div class="h-80 w-100 flex wrap a-center j-left">
                <p class="w-100 text-left text-bold  margin-l-20">Dodatkowe atuty</p>
            </div>
            <div class="flex wrap a-top j-center elements">
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="events" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'events' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'events' %}text-red{% endif %}">Wydarzenia
                            10.10.2022</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="kids" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'kids' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'kids' %}text-red{% endif %}">Menu
                            dziecięce</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="music" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'music' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'music' %}text-red{% endif %}">Muzyka
                            na żywo</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="dancing" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'dancing' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'dancing' %}text-red{% endif %}">Zabawa
                            i taniec</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="party" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'party' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'party' %}text-red{% endif %}">Na
                            imprezę</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="vine" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'vine' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'vine' %}text-red{% endif %}">Wino
                            i alkohol</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="smoke" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'smoke' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'smoke' %}text-red{% endif %}">Dla
                            palących</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="animals" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'animals' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'animals' %}text-red{% endif %}">Przyjazne
                            zwierzętom</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="garden" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'garden' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'garden' %}text-red{% endif %}">Ogródek
                            letni</span>
                    </label>
                </div>
                <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="vip" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'vip' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'vip' %}text-red{% endif %}">Vip room</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="w-100 flex j-left a-top wrap border-bottom margin-b-20">
            <div class="h-80 w-100 flex wrap a-center j-left">
                <p class="w-100 text-left text-bold margin-l-20">Kuchnie</p>
            </div>
            <div class="w-100 flex wrap a-center j-center elements">
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
                <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter()">
                    <label class="container flex w-100 j-center a-center no-wrap">
                        <input name="" value="Halal" type="checkbox" class="filter_sorted square" {% if request.session.sorted == 'Halal' %}checked="checked" {% endif %}>
                        <span class="checkmark square"></span>
                        <span class="w-100 text-left filter_sorted {% if request.session.sorted == 'Halal' %}text-red{% endif %}">Halal</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center">
    <div class="filters__container bg-red w-100 flex j-center a-top wrap">
        <div class="text-container w-100 flex wrap j-left a-center">
            <div class="flex no-wrap j-center a-center margin-r-10">
                <img src="/media/svg/map.svg" alt="Ikonka mapy" width="25" height="28">
                <span class="text-white text-bold text-container">Mapa</span>
            </div>
            <div class="flex no-wrap j-center a-center">
                <img src="/media/svg/recenzenci.svg" alt="Ikonka recenzentów" width="25" height="28">
                <span class="text-white text-bold text-container">Recenzenci</span>
            </div>
        </div>
        <div class="filter_box w-100 bg-green flex j-center a-center" onclick="openFilters()">
            <div class="flex j-between a-center w-80">
                <span class="text-white text-bold">Filtry</span>
                <img src="/media/svg/filtr.svg" alt="Ikonka filtrów" width="30" height="18">
            </div>
        </div>
        <div class="filter_box bg-white  flex j-center a-center">
            <div class="flex j-center a-center w-100">
                <div class="w-20 flex j-center a-center">
                    <img src="/media/svg/lok.svg" alt="Ikonka lokalizacji" width="18" height="23">
                </div>
                <div class="w-80">
                    <span class="w-100">Podaj lokalizację</span>
                </div>
            </div>
        </div>
        <div class="filter_box bg-white  flex j-center a-center">
            <div class="flex j-center a-center w-100">
                <div class="w-20 flex j-center a-center">
                    <img src="/media/svg/lupa.svg" alt="Ikonka lokalizacji" width="18" height="23">
                </div>
                <div class="w-80">
                    <span class="w-100 ">Szukaj, lokalu, kuchni, dań</span>
                </div>
            </div>
        </div>
        <div class="filter_box bg-white  flex j-center a-center">
            <div class="flex j-center a-center w-100">
                <div class="w-80 flex j-center a-center">
                    <span class="w-100 text-center">Odbiór - jak najszybciej</span>
                </div>
                <div class="w-20 flex j-center a-center">
                    <span class="w-100 text-center text-bold rotate-90">></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_link %}
<script>
    function openFilters() {
        var filters = document.getElementById('filters');
        filters.style.display = 'flex';
        let main = document.getElementById("main");
        main.style.display = "none"
    }

    function closeFilters() {
        var filters = document.getElementById('filters');
        filters.style.display = 'none';
        let main = document.getElementById("main");
        main.style.display = "flex"
    };

    function clearFilters(clear_button) {
        var all_inputs = document.querySelectorAll('input.filter_sorted:checked');
        all_inputs.forEach((element) => {
            element.checked = 0;
            document.getElementById("filters_counter").innerHTML = "(0)";
        });
    }

    function filtersCounter() {
        var all_inputs = document.querySelectorAll('input.filter_sorted:checked');
        var count = all_inputs.length;
        document.getElementById("filters_counter").innerHTML = "(" + count + ")";
    }

    function onlyOne(checkbox, class_name) {
        var inputs = document.querySelectorAll('input.' + class_name);
        var spans = document.querySelectorAll('span.' + class_name);

        inputs.forEach((item) => {
            if (item !== checkbox) { item.checked = false }
            else {
                item.checked = true;
                var span = checkbox.parentNode.querySelector('span.' + class_name);
                spans.forEach((item) => {
                    if (span !== item) {
                        item.classList.remove('checked');
                    }
                    else {
                        item.classList.add('checked');
                    }
                })
            }
        });
    }
</script>
{% endblock %}