{% extends "base_mobile.html" %}

{% load query_transform %}
{% load image_tags %}

{% block filters %}
    {% include "restaurants/mobile/includes/filters.html" %}
{% endblock %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center">
    {% include "restaurants/mobile/includes/filters_box.html" %}    
    <div class="restaurants__container w-100 flex j-center a-top wrap padding-b-20 margin-b-20">
        {% for restaurant in restaurants %}
        <a href="{% url 'restaurant_details' slug=restaurant.slug pk=restaurant.id %}" class="restaurant_box flex j-center a-top wrap w-100 margin-b-20">
            <picture class="w-100">
                <source class="" srcset="{{ MEDIA_URL }}{% get_src_expected restaurant.listing_webp.items '500x145' %}" type="image/webp"/>
                <img class="restaurant_image_listing" src="{{ MEDIA_URL }}{% get_src_expected restaurant.listing_jpg.items '500x145' %}" height="145">
            </picture>
            <div class="restaurant_info_box w-100 text-container bg-white flex j-center a-top wrap padding-b-20">
                <p class="w-100 text-left text-bold">{{ restaurant.name }}</p>
                <div class="w-100 flex wrap j-left a-center margin-t-10 margin-b-10">
                    <small class="text-bold">Kuchnia:&nbsp</small><small class="">{% for tag in restaurant.tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>
                    <div class="flex j-left a-center w-100">
                        <div class="flex j-left a-center">
                            <img class="margin-r-10" src="/media/svg/lok.svg" alt="Ikonka lokalizacji" width="13" height="16">
                            <small class="text-dark">{{ restaurant.city }}</small>
                        </div>
                        <div class="flex j-left a-center margin-l-20 margin-t-10 margin-b-10">
                            <img class="margin-r-10" src="/media/svg/time.svg" alt="Ikonka lokalizacji">
                            <small class="text-dark">{% if restaurant.weekday %}{{ restaurant.from_hour }} do {{ restaurant.to_hour }}{% else %}<span
                                class="text-red text-bold">Nieczynne</small>{% endif %}</small>
                        </div>
                    </div>
                </div>
                <div class="flex j-left a-center w-100 margin-t-10">
                    <div class="promo_box flex a-center j-center">
                        <span class="w-100 text-center text-red text-bold">-30% na całe menu </span>
                    </div>
                </div>
                <div class="flex j-center a-bottom wrap">
                    <div class="w-50 margin-t-20 text-left">
                        <small href="www.onet.pl" class="underline w-100 text-left text-bold" href="">recenzje (4)</small>
                    </div>
                    <div class="flex j-right a-top w-50 wrap padding-r-10">
                        <div class="flex w-50 j-center a-top wrap">
                            <small class="w-100 text-right margin-t-10">jedzenie</small>
                            <small class="w-100 text-right margin-t-10">wystrój</small>
                            <small class="w-100 text-right margin-t-10">obsługa</small>
                        </div>
                        <div class="flex j-left a-center w-50 wrap padding-l-10">
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <small class="w-100 text-bold margin-l-5">4.8</small>
                            </div>
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <small class="w-100 text-bold margin-l-5">4.8</small>
                            </div>
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <small class="w-100 text-bold margin-l-5">4.8</small>
                            </div>
                        </div>
                    </div>
                </div>
                <small class="w-100 text-left text-dark margin-t-10">Odległość ok: {% if not restaurant.distance %}Podaj swoją lokalizację.{% else %}{{ restaurant.distance }}km{% endif %}</small>
            </div>
        </a>
        {% for category in restaurant.categories_filtered %}
            {% if category.products_filtered %}
                <p class="text-bold w-100 text-left margin-t-5 margin-b-5">{{ category.name }}</p>
            {% endif %}
            {% for product in category.products_filtered %}
                {% include "products/mobile/product.html" %}
            {% endfor %}
        {% endfor %}
        
        {% if forloop.first %}
        <div class="advertisement__container w-100 flex a-center j-left wrap margin-b-20">
            <span class="w-100 text-left">Reklama</span>
            <div class="w-100 flex j-left a-center no-wrap slider_box">
                <a href="" class="w-100 flex a-center j-left no-wrap p-relative">
                    <picture id="slide-1" class="w-100 margin-r-20 slide">
                        <source class="" srcset="{{ MEDIA_URL }}main/mobile/restaurants/reklama_1.webp" type="image/webp"/>
                        <img class="advertisement_image" src="{{ MEDIA_URL }}main/mobile/restaurants/reklama_1.jpg" height="145">
                    </picture>
                    <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                    <div class="bg-red flex a-center j-center p-absolute">
                        <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                    </div>
                </a>
                <a href="" class="w-100 flex a-center j-left no-wrap p-relative">
                    <picture id="slide-1" class="w-100 margin-r-20 slide">
                        <source class="" srcset="{{ MEDIA_URL }}main/mobile/restaurants/reklama_1.webp" type="image/webp"/>
                        <img class="advertisement_image" src="{{ MEDIA_URL }}main/mobile/restaurants/reklama_1.jpg" height="145">
                    </picture>
                    <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                    <div class="bg-red flex a-center j-center p-absolute">
                        <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                    </div>
                </a>
                <a href="" class="w-100 flex a-center j-left no-wrap p-relative">
                    <picture id="slide-1" class="w-100 margin-r-20 slide">
                        <source class="" srcset="{{ MEDIA_URL }}main/mobile/restaurants/reklama_1.webp" type="image/webp"/>
                        <img class="advertisement_image" src="{{ MEDIA_URL }}main/mobile/restaurants/reklama_1.jpg" height="145">
                    </picture>
                    <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                    <div class="bg-red flex a-center j-center p-absolute">
                        <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if is_paginated %}
        <ul class="pagination w-100 flex j-center a-center no-wrap">
            {% if page_obj.has_previous %}
                <li class="padding-5"><a href="?{% query_transform page=page_obj.previous_page_number %}">&laquo;</a></li>
            {% else %}
                <li class="disabled padding-5"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active padding-5"><span>{{ i }} <span class="sr-only">(aktualna)</span></span></li>
            {% else %}
                <li class="padding-5"><a href="?{% query_transform page=i %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="padding-5"><a href="?{% query_transform page=page_obj.next_page_number %}">&raquo;</a></li>
            {% else %}
                <li class="disabled padding-5"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script_link %}
<script>
    const inputField = document.getElementById('address-input');
    const resultsBox = document.getElementById('results-box');
    const resultsList = document.getElementById('results-list');

    inputField.addEventListener('keyup', function(event) {
        if (event.key === ' ' || event.key === 'Enter') {
            const address = inputField.value;
            const url = `https://nominatim.openstreetmap.org/search?q=${encodeURIComponent(address)}&countrycodes=pl&limit=10&format=json&sort=asc&addressdetails=1`;

            const address_arr = address.split(' ');

            if (address_arr.length >= 2) {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.length >= 1) {
                            resultsBox.style.display = 'Flex';
                            resultsList.innerHTML = '';
                            data.forEach(item => {
                                const addressElement = document.createElement('a');
                                addressElement.classList.add("text-left", "text-grey", "w-100", "margin-t-10", "flex", "no-wrap", "j-left", "a-center", "container-text", "pointer", "result-item", "border-r");
                                addressElement.textContent = item.display_name;
                                addressElement.href = '?sorted=distance&lon=' + item.lon + '&lat=' + item.lat + '&place_name=' + item.display_name;
                                resultsList.appendChild(addressElement);
                            });
                        } else {
                            resultsBox.style.display = 'None';
                            resultsList.innerHTML = '';
                        }
                });
            } else {
                resultsBox.style.display = 'None';
                resultsList.innerHTML = '';
            }
        }
    });

    function openFilters() {
        var filters = document.getElementById('filters');
        filters.style.display = 'flex';
        let main = document.getElementById("main");
        main.style.display = "none"
    }

    function closeFilters() {
        var filters = document.getElementById('filters');
        filters.style.display = 'none';
        let main = document.getElementById("main");
        main.style.display = "flex"
    };

    function clearFilters(clear_button) {
        var all_inputs = document.querySelectorAll('input.filter_sorted:checked');
        all_inputs.forEach((element) => {
            element.checked = 0;
            document.getElementById("filters_counter").innerHTML = "(0)";
        });
    }

    function filtersCounter() {
        var all_inputs = document.querySelectorAll('input.filter_sorted:checked');
        var count = all_inputs.length;
        document.getElementById("filters_counter").innerHTML = "(" + count + ")";
    }

    function onlyOne(checkbox, class_name) {
        var inputs = document.querySelectorAll('input.' + class_name);
        var spans = document.querySelectorAll('span.' + class_name);

        inputs.forEach((item) => {
            if (item !== checkbox) { item.checked = false }
            else {
                item.checked = true;
                var span = checkbox.parentNode.querySelector('span.' + class_name);
                spans.forEach((item) => {
                    if (span !== item) {
                        item.classList.remove('checked');
                    }
                    else {
                        item.classList.add('checked');
                    }
                })
            }
        });
    }

    const inputSearchField = document.getElementById('inputSearchField');
    const submitButton = document.getElementById('submitButton');

    inputSearchField.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
            event.preventDefault();
            submitButton.click();
        } else {
            console.log(event.key)
        }
    });
</script>
{% endblock %}