/* Layout */

.in-layout {
    width: 1570px;
}

.in-layout-content {
    width: 1280px;
}

.logo-tordo {
    top: 31px;
}

.button_box {
    border: 2px solid #E60023;
    border-radius: 30px;
    height: 60px;
}

#add_restaurant_button {
    right: 200px;
    top: 20px;
    width: 221px;
}

#login_button {
    right: 0px;
    top: 20px;
    width: 173px;
}

.box_container {
    top: 214px;
}

.motto_box {
    align-self: start;
    width: 324px;
    height: 292px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.03));
}

.motto_box h2 {
    font-size: 40px;
    line-height: 57px;
}

.red_container {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    height: 195px;
}

.red_container a {
    width: 324px;
}

.filters__container {
    height: 182px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
}

.filter_box.bg-white {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    height: 60px;
    width: 300px;
}

.filter_box.bg-green {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    height: 60px;
    width: 271px;
}

.restaurants__container {
    width: 900px;
}

.advertisement__container {
    width: 380px;
}

.restaurant_box {
    width: 890px;
    height: 187px;
    border-radius: 30px;
}

.restaurant_box p {
    font-size: 20px;
}

.restaurant_box span {
    font-size: 14px;
}

.restaurant_image_listing {
    width: 277px;
    height: 187px;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}

.promo_box {
    width: 148px;
    height: 24px;
    border-radius: 30px;
}

.promo_box.p-absolute {
    width: 181px;
    height: 24px;
    bottom: 30px;
    left: 40px;
}

.promo_box span {
    font-size: 12px;
}

a.underline {
    font-size: 14px;
    font-weight: 600;
}

.advertisement__container picture {
    border-radius: 30px;
}

.advertisement__container img {
    border-radius: 30px;
    opacity: .7;
}

.advertisement__container strong {
    font-size: 24px;
    top: 50%;
    transform: translate(0, -50%);
    left: 40px;
    max-width: 173px;
}