{% extends "base_mobile.html" %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center ">
    <div class="motto__container p-relative w-100">
        <figure class="w-100">
            <picture class="">
                <source class="" srcset="{{ MEDIA_URL }}main/mobile/zamawiaj-jedz-komentuj-na-tordo.webp" type="image/webp"/>
                <img class="w-100" src="{{ MEDIA_URL }}main/mobile/zamawiaj-jedz-komentuj-na-tordo.jpg" >
            </picture>
        </figure>
        <div class="box_container w-100 flex j-center a-top wrap p-absolute z-index-top margin-t-30">
            <a href="{% url 'restaurants' %}" class="motto_box z-index-top bg-white flex j-center a-center">
                <div class="w-100 flex no-wrap j-around a-center">
                    <img src="/media/svg/zamawiaj.svg" alt="zamawiaj" width="71" height="61">
                    <h2 class="text-bold">Zamawiaj</h2>
                </div>
            </a>
            <a href="" class="motto_box z-index-top bg-white flex j-center a-center margin-t-30">
                <div class="w-100 flex no-wrap j-around a-center">
                    <img src="/media/svg/odbieraj.svg" alt="zamawiaj" width="71" height="61">
                    <h2 class="text-bold">Odbieraj</h2>
                </div>
            </a>
            <a href="" class="motto_box z-index-top bg-white flex j-center a-center margin-t-30">
                <div class="w-100 flex no-wrap j-around a-center">
                    <img src="/media/svg/oceniaj.svg" alt="zamawiaj" width="71" height="61">
                    <h2 class="text-bold">Oceniaj</h2>
                </div>
            </a>
        </div>
        <div class="red_container w-100 flex j-center a-center bg-red margin-t-30">
            <a href="" class="bg-white button_box flex a-center j-center">
                <span class="text-red text-bold">Zaczynamy</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}


<figure class="restaurant_image h-100">
    <picture>
        <source srcset="{{ MEDIA_URL }}main/mobile/zamawiaj-jedz-komentuj-na-tordo.webp" type="image/webp"/>
        <img class="" src="{{ MEDIA_URL }}main/mobile/zamawiaj-jedz-komentuj-na-tordo.jpg" >
    </picture>
</figure>
