{% extends "base.html" %}

{% block main_header %}
    {% load compress %}
        {% compress css %}
            <link rel="stylesheet" href="/static/css/desktop/main_desktop.css?v-18" as="style" onload="this.onload=null;this.rel='stylesheet'">
        {% endcompress %}
        {% block head %}{% endblock %}
        {% block header %}{% endblock %}
{% endblock %}
{% block main_body %}
    {% block message %}
        {% if messages %}
            <ul id="message_django" class="">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    <p class="">{{ message|safe }}</p>
                    <a href="#" class="" onclick="closeMessage(this)">x</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
    <div class="w-100 flex wrap j-center a-top flex-row">
        <div class="in-layout-content flex wrap j-center a-center ">
            {% block basket_add_product %}{% endblock %}
        </div>
    </div>
    <div id="freeze__container"></div>
    <main class="w-100 flex wrap j-center a-top flex-row" id="main">
        <div class="in-layout-content flex wrap j-center a-center ">
            <header class="h-100 w-100 p-relative">
                <a href="/" class="logo-tordo p-absolute">
                    <img class="" src="/media/svg/Tordo.svg" alt="Logo Tordo" width="135" height="37">
                </a>
                <a id="add_restaurant_button" class="button_box p-absolute flex w-100 j-center a-center" href=""><span class="text-red">Dodaj restauracje</span></a>
                <a id="login_button" class="button_box p-absolute flex w-100 j-center a-center bg-red" href=""><span class="text-white text-bold">Zaloguj</span></a>
            </header>
        </div>
        {% block content %}{% endblock %}
        <footer class="in-layout-content footer flex j-left a-top margin-t-30">
            <div class="w-25">
                <img class="" src="/media/svg/Tordo.svg" alt="Logo Tordo" width="135" height="37">
            </div>
            <div class="w-25 flex wrap j-left a-top">
                <span class="text-bold w-100">Strefa Klienta</span>
                <a href="" class="w-100">Polityka ocen i recenzji</a>
                <a href="" class="w-100">Polityka prywatności</a>
                <a href="" class="w-100">Polityka cookies</a>
                <a href="" class="w-100">Załóż konto</a>
                <a href="" class="w-100">Kontakt</a>
            </div>
            <div class="w-25 flex wrap j-left a-top">
                <span class="text-bold w-100">Strefa restauracji</span>
                <a href="" class="w-100">Dodaj restaurację</a>
                <a href="" class="w-100">Logowanie BOK</a>
            </div>
            <div class="w-25 flex wrap j-left a-top">
                <span class="text-bold w-100">O nas</span>
                <a href="" class="w-100">Recenzenci</a>
                <div class="w-100 flex j-left a-center">
                    <a class="margin-r-5"><img class="" src="/media/svg/fb.svg" alt="Logo facebook" width="28" height="28"></a>
                    <a class="margin-r-5"><img class="" src="/media/svg/inst.svg" alt="Logo Instagram" width="28" height="28"></a>
                    <a class="margin-r-5"><img class="" src="/media/svg/tw.svg" alt="Logo Twitter" width="28" height="28"></a>
                </div>
            </div>
        </footer>
    </main>
{% endblock %}

{% block main_script %}
    
    {% load compress %}
    {% block script_link %}{% endblock %}

    {% compress js %}
        <script>
            function closeMessage(element) {
            var message_django = document.getElementById('message_django');
                message_django.style.display = 'none';
            }

            function onlyOne(checkbox, class_name) {
                var inputs = document.querySelectorAll('input.' + class_name);
                var spans = document.querySelectorAll('span.filter_sorted');

                inputs.forEach((item) => {
                    if (item !== checkbox) { item.checked = false }
                    else {
                        item.checked = true;
                        var span = checkbox.parentNode.querySelector('span.filter_sorted');
                        spans.forEach((item) => {
                            if (span !== item) {
                                item.style.color = "#2F313E";
                            }
                            else {
                                item.style.color = "#CA001C";
                            }
                        })
                    }
                });
            }
            
        </script>
        {% block script %}{% endblock %}
    {% endcompress %}
{% endblock %}
