<div class="filters__container bg-red w-100 flex j-center a-center wrap margin-b-20 p-relative">
    <div class="text-container w-100 flex wrap j-left a-center">
        <a href="{% url 'restaurants_map' %}" class="flex no-wrap j-center a-center margin-r-10 pointer">
            <img src="/media/svg/map.svg" alt="Ikonka mapy" width="25" height="28">
            <span class="text-white text-container">Mapa</span>
        </a>
        <div class="flex no-wrap j-center a-center pointer">
            <img src="/media/svg/recenzenci.svg" alt="Ikonka recenzentów" width="25" height="28">
            <span class="text-white text-container">Recenzenci</span>
        </div>
    </div>
    <div class="text-container filters w-100 flex j-between a-center no-wrap margin-r-20 p-relative">
        <div class="filter_box bg-green flex j-center a-center pointer" onclick="openFilters()">
            <div class="flex j-between a-center w-80">
                <span class="text-white text-bold">Filtry</span>
                <img src="/media/svg/filtr.svg" alt="Ikonka filtrów" width="30" height="18">
            </div>
        </div>
        <div class="filter_box bg-white  flex j-center a-center pointer">
            <div class="flex j-center a-center w-100">
                <div class="w-10 flex j-center a-center margin-l-5 margin-r-5">
                    {% if not place_name %}
                        <img src="/media/svg/lok.svg" alt="Ikonka lokalizacji" width="18" height="23">
                    {% else %}
                        <a href="{% url 'delete_location' %}"><img src="/media/svg/close.svg" alt="Ikonka kasowania lokalizacji" width="18" height="23"></a>
                    {% endif %}
                </div>
                <div class="w-90 flex no-wrap"> 
                    {% if not place_name %}
                        <input id="address-input" class="w-100 padding-r-10" type="text" id="location-input" placeholder="Podaj lokalizację">
                    {% else %}
                        <span id="address-input" class="w-100 padding-r-10" type="text">{{ place_name|truncatechars:50 }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="filter_box bg-white flex j-center a-center pointer">
            <div class="flex j-center a-center w-100">
                    {% if not search %}
                    <div class="w-10 flex j-center a-center margin-l-5 margin-r-5">
                        <img src="/media/svg/lupa.svg" alt="Ikonka lokalizacji" width="18" height="23">
                    </div>
                    <form method="get" class="w-90">
                        <input id="inputSearchField" name="search" class="t-left w-100" type="text"
                            placeholder="{% if search %}{{ search }}{% else %}Szukaj lokalu lub potraw...{% endif %}">
                        <button type="submit" id="submitButton" class="d-none">Wyślij</button>
                    </form>
                    {% else %}
                    <div class="w-10 flex j-center a-center margin-l-5 margin-r-5">
                        <a href="{% url 'delete_search' %}"><img src="/media/svg/close.svg" alt="Ikonka kasowania lokalizacji" width="18"
                                height="23"></a>
                    </div>
                    <div class="w-90 flex a-center j-left no-wrap">
                        <span class="w-100 text-left">{{ search }}</span>
                    </div>
                    {% endif %}
                
            </div>
        </div>
        <div class="filter_box bg-white flex j-center a-center pointer">
            <div class="flex j-center a-center w-100">
                <div class="w-80 flex j-center a-center">
                    <span class="w-100 text-center">Odbiór - jak najszybciej</span>
                </div>
                <div class="w-20 flex j-center a-center">
                    <span class="w-100 text-center text-bold rotate-90">></span>
                </div>
            </div>
        </div>

        <div id="results-box" class="d-none wrap a-center j-center bg-white p-absolute element-center border border-r w-100 z-index-top box-shadow">
            <ul id="results-list" class="flex wrap w-100 bg-white border-r j-left a-center box-shadow">
            </ul>
        </div>
    </div>
    <form method="get" action="" id="filters" class="filters_box bg-white p-absolute element-center flex wrap j-center a-top z-index-top">
        {% csrf_token %}
        <div class="w-100 text-container flex j-center a-center filters_header h-80">
            <div class="w-50 flex j-left a-center">
                <p class="text-left text-bold margin-r-10">Filtry</p>
                <p id="filters_counter" class="text-left text-bold">(0)</p>
                <span class="text-left clear pointer margin-l-20" onclick="clearFilters(this)">Wyczyść wszystkie</span>
            </div>
            <div class="w-50 flex j-right a-center margin-r-20">
                <p class="text-left text-bold pointer" onclick="closeFilters()">X</p>
            </div>
        </div>
        <div class="w-100 flex j-center a-top">
            <div class="sort_box flex a-top j-center wrap border">
                <div class="w-100 flex wrap a-top j-center">
                    <div class="h-80 w-100 flex wrap a-center j-center filters_header">
                        <p class="w-100 text-left text-bold margin-l-20">Sortowanie najbliżej Ciebie</p>
                    </div>
                    <div class="w-100 flex wrap a-top j-center elements">
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap">
                                <input name="sorted" value="abc" type="checkbox" class="check" {% if request.session.sorted == 'open_up' %}checked="checked" {% endif %}
                                onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'abc' %}text-red{% endif %}">Alfabetycznie</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="open_up" type="checkbox" class="check" {% if request.session.sorted == 'open_up' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'open_up' %}text-red{% endif %}">Najwcześniej
                                    otwarte</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="open_down" type="checkbox" class="check" {% if request.session.sorted == 'open_down' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'open_down' %}text-red{% endif %}">Najdłużej
                                    otwarte</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="promo" type="checkbox" class="check" {% if request.session.sorted == 'promo' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'promo' %}text-red{% endif %}">Promocje</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="lunch" type="checkbox" class="check" {% if request.session.sorted == 'lunch' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'lunch' %}text-red{% endif %}">Lunch</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="food" type="checkbox" class="check" {% if request.session.sorted == 'food' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'food' %}text-red{% endif %}">Jedzenie</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="design" type="checkbox" class="check" {% if request.session.sorted == 'design' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'design' %}text-red{% endif %}">Wystrój</span>
                            </label>
                        </div>
                        <div class="w-100 text-container flex wrap a-center j-center self-top">
                            <label class="container flex w-100 j-center a-center no-wrap ">
                                <input name="sorted" value="service" type="checkbox" class="check" {% if request.session.sorted == 'service' %}checked="checked" {% endif %}
                                    onclick="onlyOne(this, 'check')">
                                <span class="checkmark circle"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if request.session.sorted == 'service' %}text-red{% endif %}">Obsługa</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter_box flex a-top j-center wrap border">
                <div class="w-25 flex j-left a-top wrap">
                    <div class="h-80 w-100 flex wrap a-center j-left filters_header">
                        <p class="w-100 text-left text-bold margin-l-20">Potrawy</p>
                    </div>
                    <div class="w-100 flex wrap a-center j-center elements">
                        {% for food in filter_foods %}
                        <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter(this)">
                            <div class="container flex w-100 j-center a-center no-wrap">
                                <input name="filter_id" value="filter_foods-{{ food.id }}" type="checkbox" class="filter_sorted" {% if food.pk in request.session.filter_foods %}checked{% endif %}>
                                <span class="checkmark square"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if food.pk in request.session.filter_foods %}text-red{% endif %}">{{ food.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="w-25 flex j-left a-top wrap">
                    <div class="h-80 w-100 flex wrap a-center j-left filters_header">
                        <p class="w-100 text-left text-bold  margin-l-20">Dodatkowe atuty</p>
                    </div>
                    <div class="flex wrap a-top j-center elements">
                        {% for advantage in filter_advantages %}
                        <div class="w-100 text-container flex wrap a-center j-center self-top" onclick="filtersCounter(this)">
                            <div class="container flex w-100 j-center a-center no-wrap">
                                <input name="filter_id" value="filter_advantages-{{ advantage.id }}" type="checkbox" class="filter_sorted" {% if advantage.id in request.session.filter_advantages %}checked="checked" {% endif %}>
                                <span class="checkmark square"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if advantage.id in request.session.filter_advantages %}text-red{% endif %}">{{ advantage.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="w-50 flex j-left a-top wrap">
                    <div class="h-80 w-100 flex wrap a-center j-left filters_header">
                        <p class="w-100 text-left text-bold margin-l-20">Kuchnie</p>
                    </div>
                    <div class="w-100 flex wrap a-center j-center elements">
                        {% for tag in tags %}
                        <div class="w-50 text-container flex wrap a-center j-center self-top" onclick="filtersCounter(this)">
                            <div class="container flex w-100 j-center a-center no-wrap">
                                <input name="filter_id" value="filter_tags-{{ tag.id }}" type="checkbox" class="filter_sorted" {% if tag.id in request.session.filter_tags %}checked="checked" {% endif %}>
                                <span class="checkmark square"></span>
                                <span
                                    class="w-100 text-left filter_sorted {% if tag.id in request.session.filter_tags %}text-red{% endif %}">{{ tag.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
        </div>
        <div class="w-100 flex j-center a-center h-100">
            <button class="button_box button flex j-center a-center bg-red pointer" type="submit"><span class="text-white text-bold">Pokaż wyniki</span><span id="restaurants_count" class="text-white text-bold">(25)</span></button>
        </div>
    </form>
</div>
