{% extends "base_desktop.html" %}

{% load query_transform %}
{% load image_tags %}


{% block top_script %}
    {% load compress %}
    {% compress js %}
        <script src="/static/js/restaurants_list.js"></script>
        <script>
            function openFilters() {
                var filters = document.getElementById('filters');
                filters.style.display = 'flex';
                var main = document.getElementById('main');
                main.style.backgroundColor = "#E3E3E3";
                requestForCount();
            }

            function closeFilters() {
                var filters = document.getElementById('filters');
                filters.style.display = 'none';
                var main = document.getElementById('main');
                main.style.backgroundColor = "#F5F5F5";
            };
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center">
    {% include "restaurants/desktop/includes/filters.html" %}
    <div class="w-100 flex j-between a-top wrap">
        <div class="restaurants__container flex j-between a-top wrap">
            {% for restaurant in object_list %}
            <a href="{% url 'restaurant_details' slug=restaurant.slug pk=restaurant.id %}" class="restaurant_box bg-white w-100 flex a-center j-center margin-t-20">
                <div class="flex j-center a-center">
                    <picture class="flex j-center a-center wrap">
                        <source class="" srcset="{{ MEDIA_URL }}{% get_src_expected restaurant.listing_webp.items '277x187' %}" type="image/webp"/>
                        <img class="restaurant_image_listing" src="{{ MEDIA_URL }}{% get_src_expected restaurant.listing_jpg.items '277x187' %}" alt="" width="277" height="187">
                    </picture>
                </div>    
                <div class="flex text-container j-between a-top w-100">
                    <div class="flex j-left a-center wrap">
                        <p class="w-100 text-left text-bold text-dark">{{ restaurant.name }}</p>
                        <div class="flex w-100 j-left a-center margin-t-5">
                            <span class="text-left text-dark text-bold">Kuchnia:&nbsp</span><span>{% for tag in restaurant.tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<span>                        </div>
                        <div class="flex j-left a-center w-100">
                            <div class="flex j-left a-center">
                                <img class="margin-r-10" src="/media/svg/lok.svg" alt="Ikonka lokalizacji" width="13" height="16">
                                <span class="text-dark">{{ restaurant.city }}</span>
                            </div>
                            <div class="flex j-left a-center margin-l-20 margin-t-10 margin-b-10">
                                <img class="margin-r-10" src="/media/svg/time.svg" alt="Ikonka lokalizacji">
                                <span class="text-dark">{% if restaurant.weekday %}{{ restaurant.from_hour }} do {{ restaurant.to_hour }}{% else %}<span
                                    class="text-red text-bold">Nieczynne</span>{% endif %}</span>
                            </div>
                        </div>
                        <div class="flex j-left a-center w-100 margin-t-10">
                            <div class="promo_box bg-red flex a-center j-center">
                                <small class="w-100 text-center text-white text-bold">-30% na całe menu</small>
                            </div>
                        </div>
                        <small class="w-100 text-left text-dark margin-t-10">Odległość ok: {% if not restaurant.distance %}Podaj swoją lokalizację.{% else %}{{ restaurant.distance }}km{% endif %}</small>
                    </div>
                    <div class="flex j-center a-center wrap">
                        <div class="flex j-right a-top w-50 wrap padding-r-10">
                            <span class="w-100 text-right margin-t-10">jedzenie</span>
                            <span class="w-100 text-right margin-t-10">wystrój</span>
                            <span class="w-100 text-right margin-t-10">obsługa</span>
                        </div>
                        <div class="flex j-left a-center w-50 wrap padding-l-10">
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <span class="w-100 text-bold margin-l-5">4.8</span>
                            </div>
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <span class="w-100 text-bold margin-l-5">4.8</span>
                            </div>
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <span class="w-100 text-bold margin-l-5">4.8</span>
                            </div>
                        </div>
                        <div class="w-100 margin-t-20 text-center">
                            <p class="underline" href="">recenzje (4)</p>
                        </div>
                    </div>
                </div>
            </a>
                {% for category in restaurant.categories_filtered %}
                    {% if category.products_filtered %}
                        <h2 class="text-bold w-100 text-left margin-t-5 margin-b-5">{{ category.name }}</h2>
                    {% endif %}
                    {% for product in category.products_filtered %}
                        {% include "products/desktop/product.html" %}
                    {% endfor %}
                {% endfor %}
                {% empty %}
                <span class="margin-t-10 text-bold">Brak wyników.</span>
            {% endfor %}
            
            {% if is_paginated %}
            <ul class="pagination w-100 flex j-center a-center no-wrap">
                {% if page_obj.has_previous %}
                    <li class="padding-5"><a href="?{% query_transform page=page_obj.previous_page_number %}">&laquo;</a></li>
                {% else %}
                    <li class="disabled padding-5"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active padding-5"><span>{{ i }} <span class="sr-only">(aktualna)</span></span></li>
                {% else %}
                    <li class="padding-5"><a href="?{% query_transform page=i %}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="padding-5"><a href="?{% query_transform page=page_obj.next_page_number %}">&raquo;</a></li>
                {% else %}
                    <li class="disabled padding-5"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>

        <div class="advertisement__container flex j-center a-top wrap">
            <span class="w-100 text-right">Reklama</span>
            <a href="" class="advertisement_box p-relative w-100 flex j-right a-center margin-b-15">
                <picture class="bg-dark">
                    <source class="" srcset="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.webp" type="image/webp"/>
                    <img class="" src="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.jpg" >
                </picture>
                <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                <div class="promo_box bg-red flex a-center j-center p-absolute">
                    <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                </div>
            </a>
            <a href="" class="advertisement_box p-relative w-100 flex j-right a-center margin-b-15">
                <picture class="bg-dark">
                    <source class="" srcset="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.webp" type="image/webp"/>
                    <img class="b-radius" src="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.jpg" >
                </picture>
                <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                <div class="promo_box bg-red flex a-center j-center p-absolute">
                    <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                </div>
            </a>
            <a href="" class="advertisement_box p-relative w-100 flex j-right a-center margin-b-15">
                <picture class="bg-dark">
                    <source class="" srcset="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama-2.webp" type="image/webp"/>
                    <img class="b-radius" src="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama-2.jpg" >
                </picture>
                <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                <div class="promo_box bg-red flex a-center j-center p-absolute">
                    <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block basket_add_product %}
    {% include "orders/desktop/includes/basket_add_product.html" %}
{% endblock %}

{% block script_link %}

{% endblock %}
