{% extends "base_desktop.html" %}

{% load image_tags %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center restaurant__container">
    <div class="flex w-100 j-center a-center bg-red border-r box-shadow h-100">
        <div class="flex w-100 j-center a-center margin-l-20 margin-r-20">
            <div class="w-50 flex j-left a-center wrap">
                <h1 class="text-bold text-white w-100 text-left">{{ restaurant.name }}</h1>
                <h2 class="text-white w-100 text-left">{{ restaurant.motto }}</h2>
            </div>
            <div class="w-50 flex j-right a-center wrap">
                <div class="filter_box bg-white flex j-center a-center pointer">
                    <div class="flex j-center a-center w-100">
                        <div class="w-80 flex j-center a-center">
                            <span class="w-100 text-center">Odbiór - jak najszybciej</span>
                        </div>
                        <div class="w-20 flex j-center a-center">
                            <span class="w-100 text-center text-bold rotate-90">></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="flex bg-white w-100 j-center a-top border-r padding-l-20 padding-r-20 padding-t-20 margin-t-20">
        <div class="w-25 flex j-center a-top wrap">
            <picture class="flex j-center a-center wrap">
                <source class="" srcset="{{ MEDIA_URL }}{% get_src_expected restaurant.logo_webp.items '200x95' %}" type="image/webp"/>
                <img class="restaurant_image_listing" src="{{ MEDIA_URL }}{% get_src_expected restaurant.logo_jpg.items '200x95' %}" alt="" width="200" height="195">
            </picture>
            <div class="comments_box flex j-center a-center wrap margin-t-20">
                <div class="flex j-right a-top w-50 wrap padding-r-10">
                    <span class="w-100 text-right margin-t-10">jedzenie</span>
                    <span class="w-100 text-right margin-t-10">wystrój</span>
                    <span class="w-100 text-right margin-t-10">obsługa</span>
                </div>
                <div class="flex j-left a-center w-50 wrap padding-l-10">
                    <div class="flex j-left a-center w-100 margin-t-10">
                        <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                        <span class="w-100 text-bold margin-l-5">4.8</span>
                    </div>
                    <div class="flex j-left a-center w-100 margin-t-10">
                        <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                        <span class="w-100 text-bold margin-l-5">4.8</span>
                    </div>
                    <div class="flex j-left a-center w-100 margin-t-10">
                        <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                        <span class="w-100 text-bold margin-l-5">4.8</span>
                    </div>
                </div>
                <div class="w-100 margin-t-20 text-center">
                    <a href="" class="underline" href="">recenzje (4)</a>
                </div>
            </div>
            <div class="flex j-left a-top wrap w-100 margin-t-20">
                <div class="flex j-left a-top w-100">
                    <div class="flex j-left a-center w-10">
                        <img class="margin-r-10" src="/media/svg/lok.svg" alt="Ikonka lokalizacji" width="18" height="16">
                    </div>
                    <div class="flex j-left a-center w-90 wrap">
                        <p class="text-bold w-100">Adres</p>
                        <p class="w-100 margin-t-10">{{ restaurant.street }}&nbsp;{{ restaurant.house }}{% if restaurant.door %}/{{ restaurant.door }}{% endif %}</p>
                        <p class="w-100 margin-t-10">{{ restaurant.city }}</p>
                        <a href="{% url 'restaurant_map' slug=restaurant.slug pk=restaurant.id %}" class="w-100 text-left text-green margin-t-10">Zobacz mapę</a>
                    </div>
                </div>
            </div>
            <div class="flex j-left a-top wrap margin-t-20 w-100">
                <div class="flex j-left a-center w-10">
                    <img class="margin-r-10" src="/media/svg/time.svg" alt="Ikonka lokalizacji" width="18" height="18">
                </div>
                <div class="flex j-left a-center w-90 wrap">
                    <div class="flex j-left a-center w-100">
                        <p class="text-bold">Dziś</p>
                        <p class="margin-l-10">({% now "l" %})</p>
                    </div>
                    <span class="w-100 margin-t-10">{% if restaurant.weekday %}{{ restaurant.from_hour }} do {{
                        restaurant.to_hour }}{% else %}<span class="text-red text-bold">Nieczynne</span>{% endif %}</span>
                </div>
            </div>
            <div class="flex j-left a-top wrap margin-t-20 w-100">
                <div class="flex j-left a-center w-10">
                    <img class="margin-r-10" src="/media/svg/human.svg" alt="Ikonka usera" width="18" height="18">

                </div>
                <div class="flex j-left a-center w-90 wrap">
                    <p class="text-bold">Ilość miejsc</p>
                    {% for room in restaurant.rooms.all %}
                    <span class="w-100 margin-t-10">{{ room.name }}:&nbsp;{{ room.qty}}&nbsp;miejsc</span>
                    {% endfor %}
                </div>
            </div>
            <div class="flex j-left a-top wrap margin-t-20 w-100 padding-b-20">
                <div class="flex j-left a-center w-10">
                    <img class="margin-r-10" src="/media/svg/dostawa.svg" alt="Ikonka dostawy" width="18" height="18">
                </div>
                <div class="flex j-left a-center w-90 wrap">
                    <p class="text-bold w-100">Dostawy</p>
                    {% for delivery in restaurant.food_suppliers.all %}
                    <img class="margin-r-10 margin-t-10" src="{{ MEDIA_URL }}{{ delivery.image }}" alt="" width="59" height="59">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w-75 flex j-center a-top wrap">
            <div class="w-100 flex j-left a-top wrap">
                {% if restaurant.link_facebook %}
                    <a href="{{ restaurant.link_facebook }}" class="margin-r-5"><img class="" src="/media/svg/fb.svg" alt="Logo facebook" width="28" height="28"></a>
                {% endif %}
                {% if restaurant.link_instagram %}
                    <a href="{{ restaurant.link_instagram }}" class="margin-r-5"><img class="" src="/media/svg/inst.svg" alt="Logo instagram" width="28" height="28"></a>
                {% endif %}
                {% if restaurant.link_tiktok %}
                    <a href="{{ restaurant.link_tiktok }}" class="margin-r-5"><img class="" src="/media/svg/tw.svg" alt="Logo twiktok" width="28" height="28"></a>
                {% endif %}
                {% if restaurant.link_twiter %}
                    <a href="{{ restaurant.link_twiter }}" class="margin-r-5"><img class="" src="/media/svg/twiter.svg" alt="Logo twiter" width="28" height="28"></a>
                {% endif %}
                {% if restaurant.link_youtube %}
                    <a href="{{ restaurant.link_youtube }}" class="margin-r-5"><img class="" src="/media/svg/youtube.svg" alt="Logo youtube" width="28" height="28"></a>
                {% endif %}
            </div>
            <div class="w-100 flex j-left a-top wrap margin-t-20">
                <span class="w-100">{{ restaurant.description }}</span>
            </div>
            <div class="w-100 flex j-between a-top wrap margin-t-20 ">
                {% for image in restaurant.gallery %}
                <picture class="flex j-center a-center wrap">
                    <source class="" srcset="{{ MEDIA_URL }}{% get_thumbnails_by_type image.items '289x223' 'webp' %}" type="image/webp"/>
                    <img class="border-r margin-r-10" src="{{ MEDIA_URL }}{% get_thumbnails_by_type image.items '289x223' 'jpeg' %}" alt="" width="289" height="223">
                </picture>
                {% endfor %}
            </div>
            <div class="w-100 flex j-left a-top wrap margin-t-20 wrap">
                {% for advantage in restaurant.our_advantages %}
                <div class="flex j-center a-top wrap margin-t-10 margin-r-10 w-33">
                    <div class="flex j-center a-center w-20">
                        <img class="" src="{{ MEDIA_URL }}{{ advantage.image }}" alt="Logo {{ advantage.name }}" width="50" height="50">
                    </div>
                    <div class="flex j-left a-center w-80 wrap">
                        <p class="w-100 text-left text-bold">{{ advantage.name }}</p>
                        <span class="margin-t-10">{{ advantage.description }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="offer__container flex w-100 j-between a-top wrap margin-t-20">
        <div class="foods_container flex w-100 j-top a-center wrap">
            <div class="w-100 border-r bg-white flex j-center a-center wrap h-60 margin-b-10">
                <div class="w-10 flex j-center a-center">
                    <img src="/media/svg/lupa.svg" alt="Ikonka lokalizacji" width="18" height="23">
                </div>
                <div class="w-90">
                    <input class="t-left w-100" type="text" placeholder="Szukaj, lokalu, kuchni, dań" name="search_dish">
                </div>
            </div>
            {% for category in categories_with_products %}
                {% if category.products %}
                    <h2 class="text-bold w-100 text-left margin-t-10">{{ category.name }}</h2>
                {% endif %}
                {% for product in category.products %}
                    <input id="srcset_basket_{{ product.id }}" type="hidden" value="{{ MEDIA_URL }}{% get_src_expected product.images_basket_webp.items '430x173' %}">
                    <input id="src_basket_{{ product.id }}" type="hidden" value="{{ MEDIA_URL }}{% get_src_expected product.images_basket_jpg.items '430x173' %}">
                    <input id="product_name_{{ product.id }}" type="hidden" value="{{ product.name }}">
                    <input id="product_price_{{ product.id }}" type="hidden" value="{{ product.price}}">
                    <div id="product_id_{{ product.id }}" class="food_container w-100 flex wrap j-center a-center bg-white border-r margin-t-10 margin-b-10" onclick="addToBasket(this)">
                        <div class="flex wrap j-center a-center w-80 padding-10">
                            <div class="flex wrap w-80 a-center j-left margin-t-10">
                                <span class="text-green w-100 text-left">A122</span>
                                <div class="flex w-100 a-center j-left margin-t-10">
                                    <p class="text-bold margin-r-10">{{ product.name }}</p>
                                    <img class="margin-r-10" src="{{ MEDIA_URL }}media/svg/chilli.svg" alt="" width="20" height="17">
                                    <img class="margin-r-10" src="{{ MEDIA_URL }}media/svg/squarestar.svg" alt="" width="20" height="17">
                                </div>
                                <small class="text-grey w-100 text-left margin-t-10">{{ product.description }}</small>
                            </div>
                            <div class="w-20 flex wrap j-right a-center h-80">
                                <div class="flex w-100 j-right a-center h-50">
                                    <small class="margin-r-10">12</small>
                                    <img class="svg-red" src="/media/svg/heart.svg" alt="" width="22" height="20">
                                </div>
                                <div class="flex w-100 wrap j-center a-center h-50">
                                    <span class="text-green w-100 text-right">{{ product.price }}zł</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex wrap j-center a-center w-20 p-relative border-r">
                            <picture class="flex j-center a-center wrap w-100">
                                <source srcset="{{ MEDIA_URL }}{% get_src_expected product.images_listing_webp.items '200x130' %}" 170w type="image/webp"/>
                                <img class="product_image" src="{{ MEDIA_URL }}{% get_src_expected product.images_listing_jpg.items '200x130' %}" alt="" width="200" height="130">
                            </picture>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="basket_container flex w-100 j-top a-center wrap">
            <div class="order_details flex wrap j-left a-top w-100 bg-white border-r">
                <div class="flex wrap w-100 j-center a-top margin-t-20 container-text">
                    <p class="w-80 text-left text-bold">Twoje zamówienie</p>
                    <div class="flex wrap w-20 j-center a-center">
                        <img src="/media/svg/fast-food.svg" alt="" width="33" height="30">
                    </div>
                </div>
                <div class="flex no-wrap w-100 j-center a-center margin-t-20 container-text">
                    <p class="w-66 text-left text-bold">MAZE by Teo Vafidis & Sons</p>
                    <div class="w-33 border-red-line">
                    </div>
                </div>
                <div class="flex wrap j-center a-top margin-t-20 container-text margin-b-20">
                    <div class="w-100 flex a-center j-left wrap border-r border-grey margin-t-15">
                        <div class="flex no-wrap w-100 j-center a-center padding-b-20">
                            <div class="w-70 flex wrap j-center a-center text-left container-text">
                                <p class="w-100 margin-t-10 text-bold">Kotlet schabowy z frytkami bez pieprzu i sosem sojowym</p>
                                <small class="w-100 t-left margin-t-10">(Bez pieprzu oraz bez panierki na połowie
                                    porscji)</small>
                            </div>
                            <span class="w-100 text_center">2 x 34.00zł</span>
                            <div class="w-10 flex wrap j-center a-center text-left container-text">
                                <img class="trash pointer" src="/media/svg/recycle-bin.svg" alt="" width="18"
                                    height="18">
                            </div>
                        </div>
                    </div>
                    <div class="w-100 flex a-center j-left wrap border-r border-grey margin-t-15">
                        <div class="flex no-wrap w-100 j-center a-center padding-b-20">
                            <div class="w-70 flex wrap j-center a-center text-left container-text">
                                <p class="w-100 margin-t-10 text-bold">Kotlet schabowy z frytkami bez pieprzu i sosem sojowym</p>
                                <small class="w-100 t-left margin-t-10">(Bez pieprzu oraz bez panierki na połowie
                                    porscji)</small>
                            </div>
                            <span class="w-100 text_center">2 x 34.00zł</span>
                            <div class="w-10 flex wrap j-center a-center text-left container-text">
                                <img class="trash pointer" src="/media/svg/recycle-bin.svg" alt="" width="18"
                                    height="18">
                            </div>
                        </div>
                    </div>
                    <div class="w-100 flex a-center j-left wrap border-r border-grey margin-t-15">
                        <div class="flex no-wrap w-100 j-center a-center padding-b-20">
                            <div class="w-70 flex wrap j-center a-center text-left container-text">
                                <p class="w-100 margin-t-10 text-bold">Kotlet schabowy z frytkami bez pieprzu i sosem sojowym</p>
                                <small class="w-100 t-left margin-t-10">(Bez pieprzu oraz bez panierki na połowie
                                    porscji)</small>
                            </div>
                            <span class="w-100 text-center ">2 x 34.00zł</span>
                            <div class="w-10 flex wrap j-center a-center text-left container-text">
                                <img class="" src="/media/svg/recycle-bin.svg" alt="" width="18"
                                    height="18">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex wrap j-center a-top margin-t-20 container-text margin-b-20">
                    <div class="flex w-100 no-wrap j-center a-center margin-b-15">
                        <p class="w-50 text-left text-bold">Suma za dania</p>
                        <p class="w-50 text-right text-bold">250,00 zł</p>
                    </div>
        
                    <div class="flex w-100 no-wrap j-center a-center margin-b-15">
                        <div class="w-50 flex j-left a-center no-wrap">
                            <p class="text-left">Dostawa dla I - stefy</p>
                            <img class="margin-l-10 trash svg-green pointer" src="/media/svg/information-button.svg"
                                alt="" width="16" height="16">
                        </div>
                        <p class="w-50 text-right">25,00 zł</p>
                    </div>
        
                    <div class="flex w-100 no-wrap j-center a-center margin-b-15">
                        <p class="text-left w-100">Punkty za zamówienie</p>
                        <p class="text-right w-100">1,17</p>
                    </div>
        
                    <a href="" class="flex w-100 no-wrap j-center a-center">
                        <button class="w-100 bg-red h-50 border-r pointer">
                            <span class="text-white text-bold">Zamawiam</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


