{% extends "base_desktop.html" %}

{% load query_transform %}
{% load image_tags %}

{% block content %}
<div class="in-layout-content flex wrap j-center a-center">
    {% include "restaurants/desktop/includes/filters.html" %}
    <div class="w-100 flex j-between a-top wrap">
        <div class="restaurants__container flex j-between a-top wrap">
            {% for restaurant in restaurants %}
            <a href="{% url 'restaurant_details' slug=restaurant.slug pk=restaurant.id_restaurant %}" class="restaurant_box bg-white w-100 flex a-center j-center margin-b-20">
                <div class="flex j-center a-center">
                    <picture class="flex j-center a-center wrap">
                        <source class="" srcset="{{ MEDIA_URL }}{% get_src_expected restaurant.listing_webp.items '277x187' %}" type="image/webp"/>
                        <img class="restaurant_image_listing" src="{{ MEDIA_URL }}{% get_src_expected restaurant.listing_jpg.items '277x187' %}" alt="" width="277" height="187">
                    </picture>
                </div>    
                <div class="flex text-container j-between a-top w-100">
                    <div class="flex j-left a-center wrap">
                        <p class="w-100 text-left text-bold text-dark">{{ restaurant.name }}</p>
                        <div class="flex w-100 j-left a-center margin-t-5">
                            <span class="text-left text-dark text-bold">Kuchnia:&nbsp</span><span>{% for tag in restaurant.tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<span>                        </div>
                        <div class="flex j-left a-center w-100">
                            <div class="flex j-left a-center">
                                <img class="margin-r-10" src="/media/svg/lok.svg" alt="Ikonka lokalizacji" width="13" height="16">
                                <span class="text-dark">{{ restaurant.city }}</span>
                            </div>
                            <div class="flex j-left a-center margin-l-20 margin-t-10 margin-b-10">
                                <img class="margin-r-10" src="/media/svg/time.svg" alt="Ikonka lokalizacji">
                                <span class="text-dark">{% if restaurant.weekday %}{{ restaurant.from_hour }} do {{ restaurant.to_hour }}{% else %}<span
                                    class="text-red text-bold">Nieczynne</span>{% endif %}</span>
                            </div>
                        </div>
                        <div class="flex j-left a-center w-100 margin-t-10">
                            <div class="promo_box bg-red flex a-center j-center">
                                <small class="w-100 text-center text-white text-bold">-30% na całe menu </small>
                            </div>
                        </div>
                    </div>
                    <div class="flex j-center a-center wrap">
                        <div class="flex j-right a-top w-50 wrap padding-r-10">
                            <span class="w-100 text-right margin-t-10">jedzenie</span>
                            <span class="w-100 text-right margin-t-10">wystrój</span>
                            <span class="w-100 text-right margin-t-10">obsługa</span>
                        </div>
                        <div class="flex j-left a-center w-50 wrap padding-l-10">
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <span class="w-100 text-bold margin-l-5">4.8</span>
                            </div>
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <span class="w-100 text-bold margin-l-5">4.8</span>
                            </div>
                            <div class="flex j-left a-center w-100 margin-t-10">
                                <img src="/media/svg/Star.svg" alt="Ikonka gwiazdki" width="19" height="19">
                                <span class="w-100 text-bold margin-l-5">4.8</span>
                            </div>
                        </div>
                        <div class="w-100 margin-t-20 text-center">
                            <p class="underline" href="">recenzje (4)</p>
                        </div>
                    </div>
                </div>
            </a>

                {% for category in restaurant.categories %}
                    {% if category.products %}
                        <h2 class="text-bold w-100 text-left margin-t-15 margin-b-15">{{ category.name }}</h2>
                    {% endif %}
                    {% for product in category.products %}
                        {% include "products/desktop/product.html" %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="advertisement__container flex j-center a-top wrap">
            <span class="w-100 text-right">Reklama</span>
            <a href="" class="advertisement_box p-relative w-100 flex j-right a-center margin-b-15">
                <picture class="bg-dark">
                    <source class="" srcset="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.webp" type="image/webp"/>
                    <img class="" src="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.jpg" >
                </picture>
                <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                <div class="promo_box bg-red flex a-center j-center p-absolute">
                    <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                </div>
            </a>
            <a href="" class="advertisement_box p-relative w-100 flex j-right a-center margin-b-15">
                <picture class="bg-dark">
                    <source class="" srcset="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.webp" type="image/webp"/>
                    <img class="b-radius" src="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama.jpg" >
                </picture>
                <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                <div class="promo_box bg-red flex a-center j-center p-absolute">
                    <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                </div>
            </a>
            <a href="" class="advertisement_box p-relative w-100 flex j-right a-center margin-b-15">
                <picture class="bg-dark">
                    <source class="" srcset="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama-2.webp" type="image/webp"/>
                    <img class="b-radius" src="{{ MEDIA_URL }}main/desktop/testowy-obrazek-reklama-2.jpg" >
                </picture>
                <strong class="p-absolute text-bold text-white">Promocja miesiąca</strong>
                <div class="promo_box bg-red flex a-center j-center p-absolute">
                    <small class="w-100 text-center text-white text-bold">-50% na wszystkie dania</small>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block basket_add_product %}
    {% include "orders/desktop/includes/basket_add_product.html" %}
{% endblock %}

{% block script_link %}
<script>
    window.sessionStorage.clear();

    function openFilters() {
        var filters = document.getElementById('filters');
        filters.style.display = 'flex';
        var main = document.getElementById('main');
        main.style.backgroundColor = "#E3E3E3";
    }

    function closeFilters() {
        var filters = document.getElementById('filters');
        filters.style.display = 'none';
        var main = document.getElementById('main');
        main.style.backgroundColor = "#FFFFFF";
    };
    
    function clearFilters(clear_button) {
        var all_inputs = document.querySelectorAll('input.filter_sorted:checked');
        all_inputs.forEach((element) => {
            element.checked = 0;
            document.getElementById("filters_counter").innerHTML = "(0)";
        });
    }

    function filtersCounter() {
        var all_inputs = document.querySelectorAll('input.filter_sorted:checked');
        var count = all_inputs.length;
        document.getElementById("filters_counter").innerHTML = "(" + count + ")";
    }

    function addToBasket(food) {

        sessionStorage.setItem('scrollpos', window.scrollY);

        var main = document.getElementById('main');
        var freeze__container = document.getElementById('freeze__container');
        var basket = document.getElementById('basekt_popup');
        main.classList.add('freeze');
        freeze__container.classList.add('active');
        basket.classList.add('active');

        var product_in_basket = document.getElementById("product_in_basket");
        var product_id = (food.id).replace("product_id_", "");

        product_in_basket.value = product_id;

        var srcset = document.getElementById("srcset_basket");
        var srcset_input = document.getElementById("srcset_basket_" + product_id);
        srcset.srcset = srcset_input.value;

        var src = document.getElementById("src_basket");
        var src_input = document.getElementById("src_basket_" + product_id);
        src.src = src_input.value;

        var product_name = document.getElementById("product_name");
        var product_name_input = document.getElementById("product_name_" + product_id);
        product_name.innerHTML = product_name_input.value;

        var product_price = document.getElementById("product_price");
        var product_price_input = document.getElementById("product_price_" + product_id);
        product_price.innerHTML = product_price_input.value;
    }

    function closeBasket(x_close) {
        var main = document.getElementById('main');
        var basket = document.getElementById('basekt_popup');
        var freeze__container = document.getElementById('freeze__container');
        main.classList.remove('freeze');
        basket.classList.remove('active');
        freeze__container.classList.remove('active');

        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    }

    function addOneQty(plus) {
        var food_qty = document.getElementById('food_qty');
        var qty = parseInt(food_qty.value);
        food_qty.value = qty + 1;

        var product_in_basket = document.getElementById("product_in_basket");
        var product_price_input = document.getElementById("product_price_" + product_in_basket.value);
        var product_price = document.getElementById("product_price");
        product_price.innerHTML = (food_qty.value * product_price_input.value).toFixed(2); 
    }

    function remOneQty(plus) {
        var food_qty = document.getElementById('food_qty');
        var qty = parseInt(food_qty.value);
        if (qty > 1) {
            food_qty.value = qty - 1;
        } else {
            food_qty.value = 1;
        }

        var product_in_basket = document.getElementById("product_in_basket");
        var product_price_input = document.getElementById("product_price_" + product_in_basket.value);
        var product_price = document.getElementById("product_price");
        product_price.innerHTML = (food_qty.value * product_price_input.value).toFixed(2);
    }

</script>
{% endblock %}
